body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

input {
    margin-bottom: 20px;
}

#exif-data {
    /* white-space: pre-wrap; */
    padding: auto;
}

.exif-entry {

    margin: 4px;
    border-radius: 4px;
    padding: 4px 10px;
    line-height: 1.5;
    background-color: antiquewhite;
}

.exif-key {

    font-weight: bold;
}

.json {
    white-space: pre-wrap;
    font-family: "monospace";
    background-color: "#f4f4f4";
    border: "1px solid #ddd";
    padding: "10px";
    line-Height: "1.5";
    overflow-X: "auto";
}

.json-block {

    padding: 10px 20px;
    background-color: #0a2b0e10;
    border-left: #00000050 dashed 1px;
}

.toggle-btn {
    cursor: pointer;
    position: relative;
    left: 0px;
    top: 5px;
    font-size: 12px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    user-select: none;
}

.toggle-btn:hover {
    border: #FF883380;
    border-radius: 40%;
}

#exif-toc-navigation {
    padding: 10px 20px;
}

#exif-toc-navigation span.exif-key {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    padding: 4px 8px;
    background-color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    user-select: none;
    border-radius: 4px;
    margin: 4px 2px;

}

#exif-toc-navigation span.exif-key a {
    text-decoration: none;
    color: #000;


}

#ai-prompt {
    padding: 10px 20px;
    line-height: 1.3em;
}

#prompt-metadata {
    padding: 10px 20px;
    line-height: 1.3em;
    background-color: #33bb6666;
    border-radius: 4px;
    border: #33bb66 dashed 1px;

}


#to-top {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    border: #00000050 dashed 1px;
    background-color: #19355b60;
    border-radius: 10%;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    user-select: none;
    z-index: 9999;
    text-decoration: none;
}

#to-top a {
    text-decoration: none;
    color: #000;
}

/*hightlight animation*/

.highlight {
    display: block !important;
    background-color: #f0f0f0;
    font-weight: bold;
    animation: highlight 0.6s ease-in-out infinite;
}

@keyframes highlight {
    0% {
        background-color: #f0f0f0;
    }

    30% {
        background-color: transparent;
    }

    100% {
        background-color: #f0f0f0;
    }
}

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 32px;
    height: 40px;
    cursor: pointer;
    height: 120px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
    margin: 4px 100%;
    font-weight: bolder;
    font-size: 2em;
    display: none;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

#fileInputLabel {
    border-radius: 6px;
    padding: 12px 32px;
    height: 40px;
    cursor: pointer;
    height: 120px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
    margin: 12px auto;
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 12px;
    text-align: center;
    cursor: pointer;
}

#fileInputLabel:hover {
    background-color: #f3f4f6;
}

#fileInputLabel:active {
    background-color: #e5e7eb;
}

#exif-img {
    width: 80vw;
    height: 40vw;
    margin: auto;

    overflow: hidden;
}

#exif-img img {
    width: 100%;
    height: 100%;
    padding: 12px;
    margin: 12px;
    ;

    /* fit image to cover the div */
    object-fit: contain;
    /* center image */
    object-position: center;
    box-sizing: border-box;
    /* border: #00000050 dashed 1px; */
    border-radius: 4px;

}